
# Python cache files
__pycache__/
*.pyc
*.pyo

# environment
venv/
.env

# data files
data/
*.csv
*.tsv
*.json
*.parquet

# model files
LLM/mlruns
*.h5
*.pt
*.onnx
*.pkl

# Jupyter Notebook output cache
.ipynb_checkpoints/

# Docker temporary files
*.log
*.out

